USE [master]
GO
/****** Object:  Database [VtdManageProduct]    Script Date: 8/4/2026 6:22:20 PM ******/
CREATE DATABASE [VtdManageProduct]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VtdManageProduct', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.VUDUC\MSSQL\DATA\VtdManageProduct.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VtdManageProduct_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.VUDUC\MSSQL\DATA\VtdManageProduct_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VtdManageProduct].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VtdManageProduct]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/4/2026 6:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VtdAccount]    Script Date: 8/4/2026 6:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VtdAccount](
	[VtdId] [int] IDENTITY(1,1) NOT NULL,
	[VtdName] [nvarchar](20) NOT NULL,
	[VtdEmail] [nvarchar](max) NOT NULL,
	[VtdAvatar] [nvarchar](max) NOT NULL,
	[VtdPassword] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_VtdAccount] PRIMARY KEY CLUSTERED 
(
	[VtdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VtdBanner]    Script Date: 8/4/2026 6:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VtdBanner](
	[VtdId] [int] IDENTITY(1,1) NOT NULL,
	[VtdName] [nvarchar](100) NOT NULL,
	[VtdStatus] [tinyint] NOT NULL,
	[VtdPrioty] [int] NOT NULL,
	[VtdCreatedDate] [datetime2](7) NOT NULL,
	[VtdImage] [nvarchar](max) NOT NULL,
	[VtdDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_VtdBanner] PRIMARY KEY CLUSTERED 
(
	[VtdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VtdBlog]    Script Date: 8/4/2026 6:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VtdBlog](
	[VtdId] [int] IDENTITY(1,1) NOT NULL,
	[VtdName] [nvarchar](100) NOT NULL,
	[VtdStatus] [tinyint] NOT NULL,
	[VtdViewCount] [int] NOT NULL,
	[VtdCreatedDate] [datetime2](7) NOT NULL,
	[VtdImage] [nvarchar](max) NOT NULL,
	[VtdDescription] [nvarchar](1500) NOT NULL,
 CONSTRAINT [PK_VtdBlog] PRIMARY KEY CLUSTERED 
(
	[VtdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VtdCategory]    Script Date: 8/4/2026 6:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VtdCategory](
	[VtdId] [int] IDENTITY(1,1) NOT NULL,
	[VtdName] [nvarchar](100) NOT NULL,
	[VtdStatus] [tinyint] NOT NULL,
	[VtdCreatedDate] [datetime2](7) NOT NULL,
	[VtdImage] [nvarchar](max) NOT NULL,
	[VtdDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_VtdCategory] PRIMARY KEY CLUSTERED 
(
	[VtdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VtdCustomer]    Script Date: 8/4/2026 6:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VtdCustomer](
	[VtdId] [int] IDENTITY(1,1) NOT NULL,
	[VtdFullName] [nvarchar](20) NOT NULL,
	[VtdEmail] [nvarchar](max) NOT NULL,
	[VtdPhone] [nvarchar](max) NOT NULL,
	[VtdAddress] [nvarchar](35) NOT NULL,
	[VtdAvatar] [nvarchar](max) NOT NULL,
	[VtdBirthday] [datetime2](7) NOT NULL,
	[VtdGender] [nvarchar](max) NOT NULL,
	[VtdPassword] [nvarchar](max) NOT NULL,
	[VtdFacebook] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_VtdCustomer] PRIMARY KEY CLUSTERED 
(
	[VtdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VtdOrderDetail]    Script Date: 8/4/2026 6:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VtdOrderDetail](
	[VtdId] [int] IDENTITY(1,1) NOT NULL,
	[VtdOrderId] [int] NOT NULL,
	[VtdProductId] [int] NOT NULL,
	[VtdQuantity] [int] NOT NULL,
	[VtdPrice] [real] NOT NULL,
 CONSTRAINT [PK_VtdOrderDetail] PRIMARY KEY CLUSTERED 
(
	[VtdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VtdOrders]    Script Date: 8/4/2026 6:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VtdOrders](
	[VtdId] [int] IDENTITY(1,1) NOT NULL,
	[VtdCustomerId] [int] NOT NULL,
	[VtdName] [nvarchar](max) NOT NULL,
	[VtdEmail] [nvarchar](max) NOT NULL,
	[VtdAddress] [nvarchar](max) NOT NULL,
	[VtdCreatedDate] [datetime2](7) NOT NULL,
	[VtdStatus] [tinyint] NOT NULL,
 CONSTRAINT [PK_VtdOrders] PRIMARY KEY CLUSTERED 
(
	[VtdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VtdProduct]    Script Date: 8/4/2026 6:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VtdProduct](
	[VtdId] [int] IDENTITY(1,1) NOT NULL,
	[VtdName] [nvarchar](150) NOT NULL,
	[VtdImage] [nvarchar](max) NOT NULL,
	[VtdPrice] [real] NOT NULL,
	[VtdSalePrice] [real] NOT NULL,
	[VtdStatus] [tinyint] NOT NULL,
	[VtdDescription] [nvarchar](1000) NOT NULL,
	[VtdCategoryId] [int] NOT NULL,
	[VtdCreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VtdProduct] PRIMARY KEY CLUSTERED 
(
	[VtdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260802021631_Vtdv1', N'8.0.29')
GO
SET IDENTITY_INSERT [dbo].[VtdAccount] ON 

INSERT [dbo].[VtdAccount] ([VtdId], [VtdName], [VtdEmail], [VtdAvatar], [VtdPassword]) VALUES (1, N'Vũ Tiến Đức', N'ducyb05@gmail.com', N'/images/accounts/admin-avatar.jpg', N'e10adc3949ba59abbe56e057f20f883e')
INSERT [dbo].[VtdAccount] ([VtdId], [VtdName], [VtdEmail], [VtdAvatar], [VtdPassword]) VALUES (2, N'Vtd Manager', N'manager@vtdstore.com', N'/images/accounts/Screenshot 2026-04-10 132855.png', N'96e79218965eb72c92a549dd5a330112')
SET IDENTITY_INSERT [dbo].[VtdAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[VtdBanner] ON 

INSERT [dbo].[VtdBanner] ([VtdId], [VtdName], [VtdStatus], [VtdPrioty], [VtdCreatedDate], [VtdImage], [VtdDescription]) VALUES (1, N'Gear Up For Victory', 1, 1, CAST(N'2026-08-04T10:00:00.0000000' AS DateTime2), N'/images/banners/Gear Up For Victory.jpg', N'Giảm giá lên đến 30% cho các dòng Gaming Gear cao cấp nhất.')
INSERT [dbo].[VtdBanner] ([VtdId], [VtdName], [VtdStatus], [VtdPrioty], [VtdCreatedDate], [VtdImage], [VtdDescription]) VALUES (2, N'Back To School - Laptop IT', 1, 2, CAST(N'2026-08-04T10:00:00.0000000' AS DateTime2), N'/images/banners/Back To School - Laptop IT.jpg', N'Trang bị vũ khí code mượt mà. Ưu đãi đặc biệt cho sinh viên Công nghệ thông tin.')
SET IDENTITY_INSERT [dbo].[VtdBanner] OFF
GO
SET IDENTITY_INSERT [dbo].[VtdBlog] ON 

INSERT [dbo].[VtdBlog] ([VtdId], [VtdName], [VtdStatus], [VtdViewCount], [VtdCreatedDate], [VtdImage], [VtdDescription]) VALUES (1, N'Top 5 bàn phím cơ gõ code êm tay, làm việc cực mượt', 1, 1500, CAST(N'2026-08-01T08:30:00.0000000' AS DateTime2), N'/images/blogs/Top 5 bàn phím cơ gõ code êm tay, làm việc cực mượt.jpg', N'Lựa chọn Switch nào để gõ các dự án Java Spring Boot, React liên tục nhiều giờ liền mà không bị mỏi tay? Khám phá ngay các dòng phím cơ Low-profile và Tactile đỉnh nhất năm nay.')
INSERT [dbo].[VtdBlog] ([VtdId], [VtdName], [VtdStatus], [VtdViewCount], [VtdCreatedDate], [VtdImage], [VtdDescription]) VALUES (2, N'Build PC tầm trung chiến mượt Max Setting game đồ họa', 1, 2340, CAST(N'2026-08-03T14:15:00.0000000' AS DateTime2), N'/images/blogs/Build PC.jpg', N'Hướng dẫn lên cấu hình máy tính tiết kiệm ngân sách nhưng vẫn đảm bảo khung hình ổn định, tha hồ bung lụa chiêu thức trong Honkai: Star Rail hay lặn ngắm đại dương sâu thẳm ở Subnautica mà không lo giật lag.')
INSERT [dbo].[VtdBlog] ([VtdId], [VtdName], [VtdStatus], [VtdViewCount], [VtdCreatedDate], [VtdImage], [VtdDescription]) VALUES (3, N'Đánh giá chuột Logitech G Pro X Superlight 2', 1, 890, CAST(N'2026-08-04T09:00:00.0000000' AS DateTime2), N'/images/blogs/Đánh giá chuột Logitech G Pro X Superlight 2.jpg', N'Mẫu chuột quốc dân dành cho game thủ FPS liệu có xứng đáng với mức giá cao ngất ngưởng? Trọng lượng siêu nhẹ chỉ 60g mang lại cảm giác vẩy chuột hoàn toàn khác biệt.')
SET IDENTITY_INSERT [dbo].[VtdBlog] OFF
GO
SET IDENTITY_INSERT [dbo].[VtdCategory] ON 

INSERT [dbo].[VtdCategory] ([VtdId], [VtdName], [VtdStatus], [VtdCreatedDate], [VtdImage], [VtdDescription]) VALUES (1, N'Laptop Gaming', 1, CAST(N'2026-08-04T10:00:00.0000000' AS DateTime2), N'/images/categories/Laptop Gaming.jpg', N'Laptop hiệu năng cao, card đồ họa rời mạnh mẽ.')
INSERT [dbo].[VtdCategory] ([VtdId], [VtdName], [VtdStatus], [VtdCreatedDate], [VtdImage], [VtdDescription]) VALUES (2, N'Bàn phím cơ', 1, CAST(N'2026-08-04T10:00:00.0000000' AS DateTime2), N'/images/categories/Bàn phím cơ.jpg', N'Bàn phím cơ Custom, Switch đa dạng, Keycap siêu đẹp.')
INSERT [dbo].[VtdCategory] ([VtdId], [VtdName], [VtdStatus], [VtdCreatedDate], [VtdImage], [VtdDescription]) VALUES (3, N'Chuột Gaming', 1, CAST(N'2026-08-04T10:00:00.0000000' AS DateTime2), N'/images/categories/Chuột Gaming.jpg', N'Chuột có dây, không dây tốc độ phản hồi 1ms.')
SET IDENTITY_INSERT [dbo].[VtdCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[VtdCustomer] ON 

INSERT [dbo].[VtdCustomer] ([VtdId], [VtdFullName], [VtdEmail], [VtdPhone], [VtdAddress], [VtdAvatar], [VtdBirthday], [VtdGender], [VtdPassword], [VtdFacebook]) VALUES (1, N'Trần Tuấn Game', N'tuan.gamer@gmail.com', N'0988776655', N'Thanh Xuân, Hà Nội', N'/images/customers/anhsv3.jpg', CAST(N'2002-05-10T00:00:00.0000000' AS DateTime2), N'Nữ', N'e10adc3949ba59abbe56e057f20f883e', N'https://facebook.com/tuangame')
INSERT [dbo].[VtdCustomer] ([VtdId], [VtdFullName], [VtdEmail], [VtdPhone], [VtdAddress], [VtdAvatar], [VtdBirthday], [VtdGender], [VtdPassword], [VtdFacebook]) VALUES (2, N'Lê Minh Coder', N'minh.it@gmail.com', N'0911223344', N'Cầu Giấy, Hà Nội', N'/images/customers/anh.jpg', CAST(N'2004-09-15T00:00:00.0000000' AS DateTime2), N'Nam', N'96e79218965eb72c92a549dd5a330112', N'https://facebook.com/minhcode')
SET IDENTITY_INSERT [dbo].[VtdCustomer] OFF
GO
SET IDENTITY_INSERT [dbo].[VtdOrderDetail] ON 

INSERT [dbo].[VtdOrderDetail] ([VtdId], [VtdOrderId], [VtdProductId], [VtdQuantity], [VtdPrice]) VALUES (1, 1, 3, 1, 3490000)
INSERT [dbo].[VtdOrderDetail] ([VtdId], [VtdOrderId], [VtdProductId], [VtdQuantity], [VtdPrice]) VALUES (2, 1, 2, 1, 1890000)
INSERT [dbo].[VtdOrderDetail] ([VtdId], [VtdOrderId], [VtdProductId], [VtdQuantity], [VtdPrice]) VALUES (3, 2, 4, 1, 1.999E+07)
SET IDENTITY_INSERT [dbo].[VtdOrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[VtdOrders] ON 

INSERT [dbo].[VtdOrders] ([VtdId], [VtdCustomerId], [VtdName], [VtdEmail], [VtdAddress], [VtdCreatedDate], [VtdStatus]) VALUES (1, 1, N'Trần Tuấn Game', N'tuan.gamer@gmail.com', N'Số 10, ngõ 20 Thanh Xuân, HN', CAST(N'2026-08-04T10:15:00.0000000' AS DateTime2), 2)
INSERT [dbo].[VtdOrders] ([VtdId], [VtdCustomerId], [VtdName], [VtdEmail], [VtdAddress], [VtdCreatedDate], [VtdStatus]) VALUES (2, 2, N'Lê Minh Coder', N'minh.it@gmail.com', N'Tòa nhà CMC, Cầu Giấy, HN', CAST(N'2026-08-04T14:30:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[VtdOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[VtdProduct] ON 

INSERT [dbo].[VtdProduct] ([VtdId], [VtdName], [VtdImage], [VtdPrice], [VtdSalePrice], [VtdStatus], [VtdDescription], [VtdCategoryId], [VtdCreatedDate]) VALUES (1, N'ASUS ROG Strix SCAR 16 (Core i9, RTX 4080)', N'/images/products/ASUS ROG Strix SCAR 16 (Core i9, RTX 4080).jpg', 8.5E+07, 8.25E+07, 1, N'Cỗ máy chiến game tối thượng. Màn hình Mini LED Nebula HDR 240Hz, tản nhiệt kim loại lỏng. Chạy giả lập, máy ảo Proxmox, hay render video đều mượt mà.', 1, CAST(N'2026-08-04T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[VtdProduct] ([VtdId], [VtdName], [VtdImage], [VtdPrice], [VtdSalePrice], [VtdStatus], [VtdDescription], [VtdCategoryId], [VtdCreatedDate]) VALUES (2, N'Bàn phím cơ Akko 3098B Multi-modes Black Gold', N'/images/products/Bàn phím cơ Akko 3098B Multi-modes Black Gold.jpg', 2200000, 1890000, 1, N'Thiết kế layout 98 phím nhỏ gọn nhưng vẫn đủ phím số. Hỗ trợ kết nối Bluetooth, Wireless 2.4Ghz và cắm dây Type-C. Profile ASA gõ rất ôm tay.', 2, CAST(N'2026-08-04T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[VtdProduct] ([VtdId], [VtdName], [VtdImage], [VtdPrice], [VtdSalePrice], [VtdStatus], [VtdDescription], [VtdCategoryId], [VtdCreatedDate]) VALUES (3, N'Chuột không dây Logitech G Pro X Superlight 2', N'/images/products/Chuột không dây Logitech G Pro X Superlight 2.jpg', 3800000, 3490000, 1, N'Trọng lượng siêu nhẹ chỉ 60g. Cảm biến HERO 2 độ phân giải 32000 DPI. Phù hợp cho những pha lia chuột tốc độ cao.', 3, CAST(N'2026-08-04T10:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[VtdProduct] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VtdCategory_VtdName]    Script Date: 8/4/2026 6:22:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_VtdCategory_VtdName] ON [dbo].[VtdCategory]
(
	[VtdName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VtdOrderDetail_VtdOrderId_VtdProductId]    Script Date: 8/4/2026 6:22:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_VtdOrderDetail_VtdOrderId_VtdProductId] ON [dbo].[VtdOrderDetail]
(
	[VtdOrderId] ASC,
	[VtdProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VtdOrderDetail_VtdProductId]    Script Date: 8/4/2026 6:22:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_VtdOrderDetail_VtdProductId] ON [dbo].[VtdOrderDetail]
(
	[VtdProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VtdOrders_VtdCustomerId]    Script Date: 8/4/2026 6:22:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_VtdOrders_VtdCustomerId] ON [dbo].[VtdOrders]
(
	[VtdCustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VtdProduct_VtdCategoryId]    Script Date: 8/4/2026 6:22:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_VtdProduct_VtdCategoryId] ON [dbo].[VtdProduct]
(
	[VtdCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VtdOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_VtdOrderDetail_VtdOrders_VtdOrderId] FOREIGN KEY([VtdOrderId])
REFERENCES [dbo].[VtdOrders] ([VtdId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VtdOrderDetail] CHECK CONSTRAINT [FK_VtdOrderDetail_VtdOrders_VtdOrderId]
GO
ALTER TABLE [dbo].[VtdOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_VtdOrderDetail_VtdProduct_VtdProductId] FOREIGN KEY([VtdProductId])
REFERENCES [dbo].[VtdProduct] ([VtdId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VtdOrderDetail] CHECK CONSTRAINT [FK_VtdOrderDetail_VtdProduct_VtdProductId]
GO
ALTER TABLE [dbo].[VtdOrders]  WITH CHECK ADD  CONSTRAINT [FK_VtdOrders_VtdCustomer_VtdCustomerId] FOREIGN KEY([VtdCustomerId])
REFERENCES [dbo].[VtdCustomer] ([VtdId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VtdOrders] CHECK CONSTRAINT [FK_VtdOrders_VtdCustomer_VtdCustomerId]
GO
ALTER TABLE [dbo].[VtdProduct]  WITH CHECK ADD  CONSTRAINT [FK_VtdProduct_VtdCategory_VtdCategoryId] FOREIGN KEY([VtdCategoryId])
REFERENCES [dbo].[VtdCategory] ([VtdId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VtdProduct] CHECK CONSTRAINT [FK_VtdProduct_VtdCategory_VtdCategoryId]
GO
USE [master]
GO
